# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Environments
.env
.venv

# Model weights
models/
outputs/
results/
*.safetensors
*.pth
*.pt
*.bin
!data/example/metadata.json

# Logs
*.log
nohup.out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
